<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixelated Image Detection & Remover</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <img src="../static/thunder.svg" alt="thunder">
        <div>
            <h1>Pixelated Image</h1>
            <h1>Detection & Remover</h1>
            <p>by Team Stellar AI</p>
        </div>
        <img src="../static/thunder.svg" alt="thunder">
    </div>
    <div class="mainContainer">
        <div class="container" id="uploadContainer">
            <div class="upload-box" id="uploadBox">
                <img src="../static/upload.svg" alt="Upload Icon" id="uploadIcon">
            </div>
            <p><b>Upload your image</b> to detect and enhance its quality. If your image is pixelated, our <b>AI</b> will regenerate it for a clearer, sharper result.</p>
            <input type="file" id="fileInput" accept="image/*">
            <button class="submit-button" id="submitButton">Submit</button>
        </div>
        <div id="resultContainer" style="display: none;">
            <div class="card2">
                <div class="image-box">
                    <img src="../static/image.jpeg" alt="Enhanced Image">
                </div>
                <p style="align-items: center;"><b>Enhanced Image</b></p>
                <div class="download-container">
                    <button class="download-btn" id="download">Download</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
